# Supabase Configuration
SUPABASE_URL=https://pzkquelorslecxhlaift.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6a3F1ZWxvcnNsZWN4aGxhaWZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzU3OTk1MiwiZXhwIjoyMDgzMTU1OTUyfQ.HhZS12kEdr3i6j_gjvHAs8TEoMxS5nz053xHaVjQL-4



# Naver API Configuration
NAVER_CLIENT_ID=baiWToX9Zkm7g2Gj2mm4
NAVER_CLIENT_SECRET=VvnYS7jFzM

# YouTube API Configuration
YOUTUBE_API_KEY=AIzaSyBcDv1yeIURL6f_NdKRkRQTfcH9sAU99-o

# Settings
HEADLESS=True
